[2016-05-24 15:53] ensowhat opened #1 "Create a wiki page for the working groups"
- [x] Create a page on the wiki

https://wiki.mozilla.org/index.php?title=B2G/Transition_Project/Working_Groups

- [x] Add the link on discourse

- [ ] at least 1 person added contact information on the wiki page for each working groups

In order to have at least one "reference person" to contact

[2016-05-24 16:37] ensowhat opened #2 "Draft an agenda for the provisionnal council"
- [x] Define the council goal, power, composition
- [x] Make an agenda for council tasks, creation, and next governance steps
- [ ] ask on dev-fxos mailing-list if people want to join
- [ ] Finalize the council team

[2016-05-24 16:39] ensowhat opened #3 "Outline the structure for the "Getting Started" doc"
... and communicate about the session

[2016-05-24 16:41] lapineige commented on #2
Meeting to define this https://discourse.mozilla-community.org/t/provisional-council-creation/8867

[2016-05-24 16:42] ensowhat opened #4 "Move this repo under mozilla-b2g"
https://github.com/mozilla-b2g

[2016-05-24 16:44] ensowhat opened #5 "Identify translators"
… and efficient ways to contact them.
Cf. https://wiki.mozilla.org/B2G/Transition_Project/Call_For_Contribution
- [x] Page for working groups created on the wiki #1  https://wiki.mozilla.org/B2G/Transition_Project/Working_Groups
- [x] Call for people on discourse to add information on the page
- [ ]  People added their contact info

[2016-05-24 16:45] lapineige commented on #5
The whole list for the call for contribution should be there: https://discourse.mozilla-community.org/t/call-for-contributors-draft-that-need-review-and-help-for-writing/8601

[2016-05-24 17:33] EGhiorzi opened #6 "Test issue"
To see how things work…

[2016-05-24 17:34] ensowhat commented on #6
It worked!

[2016-05-24 17:34] #6 closed

[2016-05-24 18:42] ensowhat opened #7 "Set up a Telegram ↔ IRC gateway"
This is to be done between https://telegram.me/B2GOS and the #fxos IRC chan on irc.mozilla.org.

This bot was setup, but got banned for flooding:
https://github.com/FruitieX/teleirc
We can probably hack it to implement a limitation on the number of lines/sec. or find another solution.

[2016-05-24 21:11] ethanrjones97 commented on #7
I can take a look at this. I have some experience with simple telegram bots.

[2016-05-25 06:48] lapineige commented on #7
What about "whitelisting" it on the IRC channel ?

[2016-05-25 08:04] lapineige opened #8 "Reformulate "Compatible Devices" page on MDN"
A rewrite of this page is needed to adapt to the current state: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Building_and_installing_B2G_OS/Compatible_Devices

- [x] Change Firefox OS > B2G OS

- [x] Add the current build/support status for the phones

- [x] Change the list of fxos-supported devices to inform that a port is possible - but need contributors help.

- [x] Move the legacy d

[2016-05-25 08:05] lapineige commented on #8
Should we archive the page, and reuse the content here ? https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Supported_Devices

[2016-05-25 09:00] lapineige commented on #1
Wiki page created: https://wiki.mozilla.org/B2G/Transition_Project/Working_Groups
Please help to fill it :)

[2016-05-25 09:32] lapineige commented on #5
Page for working groups created (see https://github.com/ensowhat/B2GOS-community/issues/1), we should ask people to add their infos on this page.

[2016-05-25 09:47] lapineige commented on #1
Link added on discourse https://discourse.mozilla-community.org/t/b2g-working-groups-list-on-the-wiki/8888

[2016-05-25 09:48] lapineige commented on #1
- [ ] People added their contact information on the wiki page

[2016-05-25 10:15] lapineige opened #9 "Manifesto redaction and review"
A Manifesto for the B2G OS project will be used to highlight the values and goal of the project.
- [x] Make a manifesto's draft, submit it on discourse and ask for reactions

https://discourse.mozilla-community.org/t/update-v2-b2g-manifesto-proposal-lets-discuss-about-it/8165/
- [ ] Review the manifesto : Content

On going, seem to be close to a final version
- [ ] Review the manifesto : English s

[2016-05-25 10:53] lapineige opened #10 "Manifesto translation"
- [ ] Finish the Manifesto #9
- [ ] Submit Manifesto's translation task to the translation working group
  (and add translation to the manifesto wiki page)

[2016-05-25 10:55] lapineige commented on #10
Blocker #9

[2016-05-25 12:34] ensowhat opened #11 "Accelerate wiki.m.o accounts validation"

[2016-05-26 18:03] #1 closed

[2016-05-26 18:14] #4 closed

[2016-05-26 18:15] lapineige commented on #2
Meeting report: https://public.etherpad-mozilla.org/p/B2G_gov_model_proposal

TODO: ask on the mailing-list if people want to volunteer

[2016-05-26 18:19] lapineige opened #12 "Merge working group meetings into the weekly meeting"
In order to keep things short and easy to follow.

- [x] Update agenda (https://calendar.google.com/calendar/embed?src=bW96aWxsYS5jb21fMmQzNjM4MzUzMTM3MzQzMzMzMzczMzMyQHJlc291cmNlLmNhbGVuZGFyLmdvb2dsZS5jb20&rm=minimal)

- [x] Remind people on discourse / telegram / dev-fxos / IRC

- [ ] Current time seem to be blocking for some people, we should ask to know if they would prefer to change

[2016-05-26 18:20] lapineige commented on #12
@ensowhat can you please update the agenda ?
I call help spreading the information on the different channels

[2016-05-27 04:40] kskarthik commented on #8
@lapineige You can check all the boxes. I fixed those & regarding that Suuported_Devices page... Hmm... better we kill that ?

[2016-05-27 04:48] kskarthik commented on #1
check the 3rd box too :) it's done

[2016-05-27 06:31] lapineige commented on #1
Done :)
(but well, it was closed ^^)

[2016-05-27 06:35] lapineige commented on #8
Well, it's better now, but still unclear IMHO.
We need to clearly separate the categories, between developer phones, community maintained phones, ongoing work, potential devices (supported by Fxos 2.6, but still without any builds) and legacy devices.
We could also is this page to replace this one: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Supported_Devices

[2016-05-27 10:36] lapineige commented on #8
I changed the page, please review it to confirm is more clear now.
The information about build status, B2G Installer information or devices base android version has to be confirmed.

Todo-list updated

[2016-05-27 10:43] lapineige opened #13 "Create page for each supported devices, with feature available / not working"
* Note: It would be nice if testers and maintainers for each devices add the information they have.

Current phones supported that need a MDN page:

- [ ] Z3C

- [ ] Flame

- [ ] Open C

- [ ] Fairphone 2

[2016-05-27 10:55] ensowhat opened #14 "Add links to this repo to the documentation"

[2016-05-27 13:10] lapineige commented on #8
Idea to improve this content #13
This is not a priority, as we still have few devices / features and information on discourse topic.

---

@ensowhat could you take a look at the shape of the page, to be sure it's clear ?

[2016-05-27 14:11] lapineige commented on #14
Done by @kskarthik on MDN, thx :)

[2016-05-27 14:11] #14 closed

[2016-05-30 10:16] Waterloo commented on #7
Hi , i can help with this , i have created a bot for the purpose,  https://github.com/MozillaKerala/botzilla

[2016-05-30 14:10] ensowhat commented on #7
@lapineige I'll ask again, but it doesn't seem to be in the policy
@Waterloo @DoublePlusGood23 Great! Do you mind if I assign this issue to both of you?

[2016-05-30 14:40] lapineige commented on #7
@ensowhat If that's right,  I'm curious to know why (just for the information, it's no a critic, I want to understand)
Do you know what is the flooding limit ? (to know if it's not too low, as it might create issue in case of high activity)

@Waterloo @DoublePlusGood23 thanks for your help :)

[2016-05-30 14:53] lapineige opened #15 "Create an FAQ page on the wiki"
- [x] Create an FAQ page on the wiki...
  https://wiki.mozilla.org/B2G/Transition_Project/FAQ
- [ ] ... including some basic "how can I help" information...
- [x] ... a description of the project and the transition phase (history)
- [ ] ... and a short description of how B2G OS is working (web based, no native app, ...)
- [ ] add #25
- [ ] Ask for review in every working group

[2016-05-30 14:59] lapineige opened #16 "Create a Get started page on MDN for new developers"
The goal is to have a really clear get started page for new-coming developers, that help them to be able to get B2G code, patch and build it, and submit the patch in a reasonably short time.
- [ ] Create a Get started page on MDN for new developers
  Cf. https://docs.google.com/presentation/d/1YuQaLr-hiduT5xyT4TaiaUDYOsZAnmadduevAE6MOKo/edit?usp=sharing
- [ ] Explain how to make a patch
- [ ] Add

[2016-05-31 06:57] lapineige commented on #12
Should we ask people to know what day/time they prefer, to place the meeting according to contributors constraints ?
Should we change the time on a regular basis, to fit better with timezone ?

[2016-05-31 17:00] #3 closed

[2016-05-31 17:30] ensowhat commented on #16
Cf. https://docs.google.com/presentation/d/1YuQaLr-hiduT5xyT4TaiaUDYOsZAnmadduevAE6MOKo/edit?usp=sharing as a starting point.

[2016-05-31 17:35] ensowhat opened #17 "Update wiki after the end of the transition period"
Mainly on https://wiki.mozilla.org/B2G/Transition_Project

[2016-05-31 17:42] ensowhat commented on #5
Add the French community ML link, as they're willing to help on translation.

[2016-05-31 17:43] ensowhat commented on #5
- [ ] Ping people who already translated something. :)

[2016-05-31 17:45] ensowhat commented on #7
@fabricedesre Can you please have a look on the white listing options we have?

[2016-05-31 17:45] lapineige commented on #10
Blocker #9

[2016-05-31 18:03] lapineige commented on #12
Decision of today meeting:
- [ ] ask people on discourse if current time is a problem

If no,  close this task :)
- [ ] If yes, discuss about solution during next meeting

I will do that.

[2016-05-31 18:05] lapineige commented on #7
@Waterloo @DoublePlusGood23 let's wait to know if white-listing is possible - if no I will ping you to know if you still can help here :smiley:

[2016-05-31 18:18] lapineige commented on #17
Decided today during documentation meeting: https://wiki.mozilla.org/B2G/ should be the main page, with presentation of the project, and listing every useful link and categories.
https://wiki.mozilla.org/B2G/Transition_Project will be linked to this page, and adapted to be here as an history of the transition phase.

I've setup a milestone for that: https://github.com/mozilla-b2g/B2GOS-community/m

[2016-05-31 18:24] lapineige opened #18 "Update MDN after the end of the transition period"
Decided today during documentation meeting: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS is the main page for developers / technical contributors (but as to be link to the wiki main page, see #17 - a link in the other way is also useful).

The actual page is fine, but we need to adapt it to the new status: we are no longer on transition phase. Some content need to be updated, while keep

[2016-05-31 18:28] lapineige commented on #18
@kskarthik would you like to help me on this point ?

[2016-05-31 18:29] lapineige commented on #17
@ensowhat @kskarthik would you like to help me on this point ?

[2016-05-31 18:30] lapineige commented on #17
Need to add link to the "technical main page" on MDN #18

[2016-05-31 18:35] lapineige opened #19 "Do a documentation working session on Thursday 2"
(decided during today documentation meeting)

Goal: have a working session to work on documentation task together, while discussing via chat/etherpad/vidyo to coordinate our efforts.

It's planned on Thursday 2, between 17:00-19:00 CEST > so 3 to 5 pm UTC

[2016-05-31 18:36] lapineige commented on #17
Can be done on Thursday #19

[2016-05-31 18:37] lapineige commented on #18
Can be done on Thursday #19

[2016-05-31 18:40] lapineige commented on #12
- [x] @ensowhat updated the agenda

[2016-05-31 18:46] lapineige opened #20 "Translate main wiki page"
- [ ] Create the main wiki page, update it with new status #17
- [ ] Call for translation on the main wiki page https://wiki.mozilla.org/B2G/
- [ ] Contact previous translators

[2016-05-31 19:23] ethanrjones97 commented on #7
I think @Waterloo 's bot is a better fit, it exists and uses Node.js over Python3. @lapineige What do you mean by "whitelisting" ?

[2016-05-31 20:08] lapineige commented on #7
Remove the limitation in number of messages, only for the bot - to avoid ban. It's a lot easier than patching the bot.

I don't know any of those bots, but well teleirc as been setup in the past, so we know how to do it again, that make it easy.
What's the advantages of the bot you're talking about ?

[2016-06-02 07:32] kskarthik commented on #19
i will remove the transition branch info soon on mdn

[2016-06-02 07:36] kskarthik commented on #19
i mean after kanikani merges into master.

[2016-06-02 09:01] kskarthik commented on #18
I'm ready. I fixed transition links on landing page

[2016-06-02 13:10] ensowhat commented on #7
ping @DoublePlusGood23 ^

[2016-06-02 14:37] Waterloo commented on #7
@lapineige can you explain the white listing part ? Who sets the limitations ?

[2016-06-02 14:49] lapineige commented on #7
Hi @Waterloo :)
I can't, I don't know how it's managed, but @fabricedesre might have more information.
But the main idea is that there is a limit of message/unit of time to avoid flooding (and it's low), so the bot is banned if we don't white list it (if possible) / adapt it.

[2016-06-02 16:22] fabricedesre commented on #7
We have a fairly aggressive flood limit on the #fxos irc channel to keep spammers away. Unfortunately it sometimes bites us back in legitimate situations:
- people copy/pasting something not that big like 10 lines.
- bridge bots that don't know how to throttle themselves.

This flood limit can be changed for the channel by any channel operator, but I have yet to find if we can whitelist a given ni

[2016-06-02 16:48] #19 closed

[2016-06-02 16:49] Waterloo commented on #7
@fabricedesre , what are the limits ?

[2016-06-02 16:50] ensowhat commented on #19
https://discourse.mozilla-community.org/t/documentation-working-session-on-thursday-2016-06-02/8989

[2016-06-02 16:54] fabricedesre commented on #7
Our current mode is +trnjf 4:2 *5:4
I think if you don't send more than one line per second you should be fine.

[2016-06-02 19:10] lapineige commented on #7
Can you explain what that mean ?

This include splitting message  with multiple lines, right ?
Don't you think it's so low that it can be an issue, like people replying on irc before the message is completely send ?

[2016-06-02 19:43] gaby2300 commented on #5
Hello!
I could help with the Spanish translation. I would need to know where I can find whatever I have to translate.

[2016-06-02 19:45] lapineige commented on #5
Hi @gaby2300
Please add you name on the wiki page ;)
You can check that too, I think they need some review: https://discourse.mozilla-community.org/t/call-for-contributors-final-version-update-we-need-translations/8601/37

[2016-06-02 20:04] gaby2300 commented on #5
Hi, many thanks for answering me so quickly!

I can add my name to the wiki but is seems @erotavlas has already
translated:

https://wiki.mozilla.org/B2G/Transition_Project/Call_For_Contribution into
Spanish, not on the wiki but in an etherpad. Maybe it would better is he
adds himself to the wiki first?

BTW, the translation ends with the following links:
1. _https://wiki.mozilla.org/Booting_to_th

[2016-06-02 20:12] lapineige commented on #5
Sorry, I mean on this page: https://wiki.mozilla.org/B2G/Transition_Project/Working_Groups
(first post edited)

Right now, they will change too much. So I think it's too soon.
Also we want to identify translator and how to contact them for this purpose. When we will need a translation, contacting people will be easy.
Also you can subscribe to the the Translation label on this github repo.

[2016-06-02 23:35] gaby2300 commented on #5
I added myself to the wiki you mentioned and also subscribed to the Translation label here.
Many thanks lapineige!

[2016-06-03 06:18] lapineige commented on #5
Many thanks to you ! ;)

[2016-06-03 06:22] lapineige commented on #5
So as a kind of synthesis, we now have 2 translators for French/Italian/Spanish.

TODO:
- [ ] Contact the Japanese/Chinese/Korean/German translator of the call for contribution.
- [ ] Contact the other French translators
- [ ] Contact the other Italian translator (if I'm right, we miss one of them)

[2016-06-03 06:29] lapineige commented on #5
I will post a quick reminder on discourse, if after that we still need more people we could send them a private message.

[2016-06-03 06:35] lapineige commented on #15
Some work done during the documentation working session #19 :

We started to review / change the FAQ page, to keep it simpler (especially while working together) we opened this pad: https://public.etherpad-mozilla.org/p/b2g_faq_wiki
Feel free to come and help !

[2016-06-03 08:15] lapineige opened #21 "Review the Call for Contribution - Spanish translation"
The Spanish translation of the Call for Contribution need some review: https://discourse.mozilla-community.org/t/call-for-contributors-final-version-update-we-need-translations/8601/37

- [x] Review the Spanish translation

- [x] Put it on the wiki https://wiki.mozilla.org/B2G/Transition_Project/Call_For_Contribution

- [x] Add translators/reviewers contact info on the wiki #5

[2016-06-03 09:07] lapineige commented on #18
- [x] After changing wiki links (from /B2G/Transition_Project) in #17, update links on MDN

Found links to change only here: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS (to be confirmed)

[2016-06-07 13:22] lapineige commented on #8
The page still need to refinement and revision

[2016-06-07 16:36] lapineige opened #22 "Remove translation from MDN main page [edit] we need to add a macro, removal is not possible"
Old translation of https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS are still here (as a legacy of Firefox OS period).
They are no longer relevant - and not really useful for future translation.
They should be removed* to avoid confusing people - if their read translation, they don't see the (updated) English page.
- [ ] * Update: translation can't be removed, we should add a macro at the t

[2016-06-07 16:37] lapineige commented on #22
Anyone know how to remove all those pages ? (if possible in a single shot, they are quite numerous...)

[2016-06-07 20:34] Ryuno-Ki commented on #22
I'll ask Chris Mills.

[2016-06-08 21:12] Ryuno-Ki commented on #22
Feedback from Chris:

So the answer is, translations cannot be removed.

[2016-06-09 07:16] lapineige commented on #21
Seems like the final version is here: https://discourse.mozilla-community.org/t/call-for-contributors-final-version-update-we-need-translations/8601/47
(But another review is always appreciated :wink:)

Translator info is on the wiki (but only for italian)

[2016-06-09 07:18] lapineige commented on #22
Thanks @Ryuno-Ki :smiley:
That's an important thing to keep in mind, we can't remove pages easily.

So let's use this macro on every translated pages. (main task edited)

[2016-06-09 07:23] lapineige commented on #12
- [x] Update on telegram done, the same on discourse.
- [ ] Need to be done on IRC / mailing-list (well, is it needed as it is on discourse ?)

Meeting time still seem to be a problem for quite a lot of people.

[2016-06-09 13:27] Ryuno-Ki commented on #12
I'd suggest to ask, who is generally interested in participating. Those should provide their timezone.

Say, we have few Europeans, then a time could be determined, which suits USA and Asia best.

Another idea: Rotate the time with respect to a fixed rhythm. (For example, every second week at X o'clock and Y o'clock for all other ones for a weekly meeting).

Can the reminder me automated? Which IR

[2016-06-10 09:12] lapineige commented on #7
ping @fabricedesre
Any news ?

[2016-06-10 14:51] fabricedesre commented on #7
I will make the bot be a half-op in the channel. That may let him not be subject to the flood limits.

[2016-06-10 14:56] lapineige commented on #7
It's a good news ! :)

So @Waterloo @DoublePlusGood23 do you have some time to setup the bot ?

[2016-06-13 17:06] kuramaluka commented on #20
Italian translation is, more or less, in progress.

Unfortunately there was a little problem with the renaming of the url of the page (whom still refered to Firefox OS) ... and now everything is blocked due to a bug.

If you want to know more:
https://bugzilla.mozilla.org/show_bug.cgi?id=1279908

[2016-06-13 21:43] Ryuno-Ki commented on #20
I couldn't find documentation about translation (here on GitHub). Is there a need for a German one?

[2016-06-14 09:33] kuramaluka commented on #20
Ryuno-Ki, just look at the MDN pages of [B2GOS](https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS) :)

From what I can see the deutsch translation is outdated: [https://developer.mozilla.org/de/Firefox_OS]. It still has the structure of Firefox os :) So, if you want, you can start to translate it :+1:

[2016-06-14 16:30] lapineige commented on #21
Up ! :)

[2016-06-14 16:33] #18 closed

[2016-06-14 17:02] lapineige opened #23 "Translate main MDN page"
https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS need to be translated

And if we don't have people to do it, we should add this macro on the old translations #22 (as we can't remove it)

Ongoing translations:
- [x] Italian (made by Luca and Enrico)
- [x] German version completed
  /!\ Need review
- [x] French version completed (made by xdelatour and [?])
- [x] Korean version completed
- [

[2016-06-14 17:04] lapineige commented on #12
@Ryuno-Ki yes but thinking about the solution need to be done after being sure that we identify the issue (is it really a matter of meeting time ?)
As decided during a previous weekly meeting, we first need to ask people if the current meeting time is fine for them.
Can someone ask the question on discourse ? I don't have time to do it.

[2016-06-14 18:30] gaby2300 commented on #23
I'm really sorry I won't be able to help with Spanish! I broke an elbow and
have to be operated. There's not much I can do with one hand so....
Best regards,
Gabriela
On 14 Jun 2016 2:04 pm, "lapineige" notifications@github.com wrote:

[2016-06-14 18:41] lapineige commented on #23
No worries (everyone help how s-he can), and good recovery ;)

[2016-06-14 18:45] gaby2300 commented on #23
Many thanks! I'll post again as soon as I recover my use of both hands
On 14 Jun 2016 3:41 pm, "lapineige" notifications@github.com wrote:

[2016-06-14 19:34] Ryuno-Ki commented on #20
What about links in there? Especially to wiki.mozilla.org

[2016-06-14 19:44] Ryuno-Ki commented on #23
Count me in for German translation :-)

[2016-06-14 20:21] kuramaluka commented on #20
I made a little mess, this is the wiki page topic, not the MDN one, sorry Ryuno-Ki!

Anyway, I think we need a translation for both of them ([wiki](https://wiki.mozilla.org/B2G) and [MDN](https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS)).

Just delete the previous content, copy the new (english) one and translate it. We've a back-up copy of all the previuos documentantion and we're going t

[2016-06-14 20:28] Ryuno-Ki commented on #20
@kuramaluka I've translated the German Firefox OS page on MDN :-)

There's just a `zone-callout` around the image + hint I cannot get rid of O_o

I'm for clarifying this by editing this repo's README.

[2016-06-14 20:57] lapineige opened #25 "Add instructions on the wiki about how to get involved in documentation tasks"
- [ ] On the FAQ (it seems to be the best place) add the information about how to contribute to MDN documentation
- [ ] Do the same for the wiki

[2016-06-14 20:57] lapineige commented on #15
More info to add on the FAQ #25

[2016-06-14 21:19] ghost commented on #23
And me in the Spanish one! XD

[2016-06-14 21:22] lapineige commented on #23
Good news :)
Just give an update when it's ready, when it need review ;)

[2016-06-14 21:25] Ryuno-Ki commented on #20
@chrisdavidmills Can you tell, whether wiki.mozilla.org offers translation at all?

From what I can see it's a MediaWiki - Wikipedia has translations in the left hand pane. Another way was used at [my distro's wiki](https://wiki.sabayon.org/index.php?title=En:Main_Page) - so what would need to be done from Mozilla if we would want to have translation for community pages like B2G OS?

[2016-06-14 21:52] Ryuno-Ki commented on #23
I updated the German one at https://developer.mozilla.org/de/Firefox_OS.

[2016-06-14 21:56] lapineige commented on #7
ping @Waterloo @DoublePlusGood23

[2016-06-14 21:56] lapineige commented on #23
Is it a final version ?

[2016-06-14 21:58] Ryuno-Ki commented on #23
From my PoV, yes. I covered the whole English original (and even reported the wrong Discourse link on Telegram :-)).

I don't know, whether another German speaking Mozillian wants to review it.

[2016-06-15 00:12] ethanrjones97 commented on #7
@lapineige I can host the bot, sure. https://github.com/FruitieX/teleirc right?

[2016-06-15 06:24] lapineige commented on #5
TODO: need to identify Korean, Chinese, German translators

[2016-06-15 06:28] lapineige commented on #7
Yes it's this one.
Should we setup a new telegram group just for testing the bot ?
(to avoid having to prevent people to post thousands of messages while we setup it ^^)

[2016-06-15 19:01] ghost commented on #23
Spanish is done! it's just that there is no navigation bar at the left and the Firefox OS phone is still there, but the translation is done, if you need to translate any other documents to Spanish I'm in. :D
https://developer.mozilla.org/es/Firefox_OS

[2016-06-15 19:15] Ryuno-Ki commented on #7
I'd recommend it. This way, people can decide, whether they want to have their messages synched with IRC or not.

[2016-06-15 20:36] Ryuno-Ki commented on #5
Added myself for German translators.

[2016-06-15 20:38] Ryuno-Ki commented on #23
@edangor I discovered, that translators are "collected" at https://wiki.mozilla.org/B2G/Transition_Project/Working_Groups#Translation - do you have an account there?

If not, I can add you if you want.

[2016-06-15 20:43] Ryuno-Ki commented on #23
@edangor wrote

@lapineige I wonder, whether it was created by `{{firefoxOSSidebar}}` and/or it is affected by `id="Subnav"` which I got rid off of https://developer.mozilla.org/de/docs/Mozilla/Firefox_OS$compare?locale=de&to=1071506&from=821659

[2016-06-16 02:28] ghost commented on #23
@Ryuno-Ki

No, I don't have an account could you add me please?

[2016-06-16 19:17] ethanrjones97 commented on #7
I have a bot running on digital ocean. Going to run a few more tests, but it seems to work well.
![screenshot from 2016-06-15 20-42-37](https://cloud.githubusercontent.com/assets/5385580/16130052/712494ee-33d5-11e6-9a45-eb3ca3ca0860.png)

[2016-06-16 20:51] Ryuno-Ki commented on #23
@edangor Done.

[2016-06-18 14:01] imyaman commented on #5
I am the Korean translator.

[2016-06-18 14:58] imyaman commented on #23
Korean version is completed.
https://github.com/imyaman/MDN_Korean/blob/gh-pages/Mozilla/B2G_OS.html <- source
http://imyaman.github.io.youre.space/MDN_Korean/Mozilla/B2G_OS.html <- preview

[2016-06-18 15:07] imyaman commented on #23
The URL of Korean page is /ko/docs/Mozilla/Firefox_OS, not /ko/docs/Mozilla/B2G_OS.
How can I change the URL? Thank you.

[2016-06-18 15:36] lapineige commented on #5
:+1: Great, only remaining the Chinese translator now.

And thanks for adding you in the wiki ! :smiley:

[2016-06-18 15:39] lapineige commented on #23
You can add it on MDN ;)

Good question, I don't know. We should ask Chris Mills.
It might be related to #22

[2016-06-18 15:43] imyaman commented on #5
No problem. ;-)

[2016-06-18 16:17] imyaman commented on #23
The macro just adds a warning like

[code]

You can see the warning here https://developer.mozilla.org/ko/docs/Mozilla/Firefox_OS

I think there must be a new page if it is impossible to remove redirection.

[2016-06-18 16:22] lapineige commented on #23
I mean it might be the same limitation, only admin can do it.
Let's translate some pages, we will ask Chris to do it for all of them at the same time.

[2016-06-18 16:29] imyaman commented on #22
chrisdavidmills changed /Mozilla/Firefox_OS to /Mozilla/B2G_OS at  May 4, 2016, 5:00:02 PM.
Can he also change /ko/docs/Mozilla/Firefox_OS to /ko/docs/Mozilla/B2G_OS?

[2016-06-18 16:34] lapineige commented on #22
I guess it's possible.
We should ask it, but I suppose it's a manual change.
It's better to do it for all translation, rather than contacting him every time we have a new translation (and there is a **lot** of translations).
But I a imagine it's a manual process for all the translation, let's wait for a couple of them to be ready, let's say 5 of them

[2016-06-20 09:10] kuramaluka commented on #23
The italian version is still blocked due to this bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1279908

[2016-06-22 06:28] lapineige commented on #21
Up !

[2016-06-22 06:30] lapineige commented on #5
TODO: contact Chinese translator + Hindi + Persian

[2016-06-22 22:13] xerz-one commented on #21
Done! The final version is available at Etherpad: https://etherpad.wikimedia.org/p/B2G_traducion_espanol

[2016-06-26 16:31] lapineige commented on #21
Closed.
Solved in this discourse post: https://discourse.mozilla-community.org/t/call-for-contributors-final-version-update-we-need-translations/8601/66
Thanks to all the translators / reviewers ! :)

[2016-06-26 16:31] #21 closed

[2016-07-04 10:50] chrisdavidmills commented on #20
hi there,

Sorry for being so late to answer this — I completely missed it. I'm afraid I don't know anything about translations for wiki.mozilla.org. I will talk to a few people to see if I can figure anything out.

[2016-07-05 05:59] imyaman commented on #20
What URL would be ok for Korean translation? Would https://wiki.mozilla.org/ko/B2G be ok?
Thank you.

[2016-07-05 08:36] lapineige commented on #20
Thanks @chrisdavidmills , I'm looking forward for your information :smiley:

[2016-07-05 20:30] lapineige commented on #7
Up :)
@DoublePlusGood23   are you ready to adding the bot ?

[2016-07-05 21:28] ethanrjones97 commented on #7
@lapineige Yup, it seems to work fine :)

[2016-07-05 21:40] lapineige commented on #7
Ok, @fabricedesre is in holidays, let's wait for him before activating the bot.

[2016-07-06 01:00] ethanrjones97 commented on #7
@lapineige Sounds good. Feel free to contact me [on telegram ](https://telegram.me/DoublePlusGood23/) @fabricedesre

[2016-07-06 18:58] lapineige opened #26 "B2G installer is signed - let's update the documentation !"
B2G Installer has been signed ! :)
https://discourse.mozilla-community.org/t/b2g-installer-add-on-for-firefox/7523/17

So let's update [the documentation](https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Building_and_installing_Firefox_OS/B2G_installer_add-on#Installation), it's a lot easier to install it now.

- [ ] Update the installation doc

[2016-07-06 19:01] lapineige commented on #26
Wow already done by @TitanNano ! :)

[2016-07-06 22:32] lapineige opened #27 "Update "Compatible Devices" with WileyFox Swift info"
- [x] Add WileyFox Swift in the list of [compatible devices](https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Building_and_installing_B2G_OS/Compatible_Devices)

[2016-07-06 22:33] lapineige commented on #8
- [ ]  check Z3 status

[2016-07-06 22:34] lapineige commented on #27
And later add a special page #13

The only blocking point seem to be the dual sim card support.

[2016-07-06 22:38] lapineige opened #28 "Update "Compatible Devices" with Nexus 4 info"
This page: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Building_and_installing_B2G_OS/Compatible_Devices
Is still missing info about Nexus 4
- [ ]  Update  Nexus 4 info

[2016-07-06 22:39] lapineige commented on #28
And later create a special page #13

[2016-07-14 18:21] kuramaluka commented on #26
We should also change the "Firefox OS Installer" main png into a "B2G OS Installer" png!

[2016-07-21 22:29] lapineige commented on #7
Up @DoublePlusGood23  @fabricedesre

[2016-07-28 21:20] lapineige commented on #8
Closed. Need some check for Z3 status, and some addition (like #27  #28) but the main rewrap/review is done.

[2016-07-28 21:20] #8 closed

[2016-07-29 16:42] kskarthik commented on #22
@lapineige this issue is resolved

[2016-07-29 16:51] lapineige commented on #22
Oh you're right thx :)

[2016-07-29 16:51] #22 closed

[2016-07-31 14:27] kuramaluka commented on #23
The italian translation is now complete :) https://developer.mozilla.org/it/docs/Mozilla/B2G_OS

[2016-07-31 15:48] lapineige commented on #23
Great ! :)
I've added a couple of languages, based on the list of people in the translation working group https://wiki.mozilla.org/B2G/Transition_Project/Working_Groups

[2016-07-31 17:07] lapineige opened #29 "Update "Preparing your first B2G build" with info about mozilla-central builds"
Currently this page: https://developer.mozilla.org/en-US/docs/Mozilla/Firefox_OS/Preparing_for_your_first_B2G_build
Only talk about building with pine and kanikani branches.

We need to update it to explain what these branches are, how to build with mozilla-central (explaining that using pine/kanikani is an extra option)

[2016-08-02 05:31] kskarthik commented on #29
@lapineige I fixed it https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/Preparing_for_your_first_B2G_build

bug fixed: https://github.com/mozilla-b2g/b2g-manifest/commit/496bb6092e73d997edc9045ef837e40e5f9ee543

[2016-08-02 06:20] lapineige commented on #29
Shouldn't we keep some info about using kanikani/pine ? (in case we keep them in the future ?)

[2016-08-02 06:20] #29 closed

[2016-08-02 07:09] kskarthik commented on #29
i think no need

[2016-08-02 07:11] kskarthik commented on #26
@kuramaluka i made a PR already https://github.com/mozilla-b2g/b2g-installer/pull/50

[2016-08-02 15:30] lapineige commented on #27
Done

[2016-08-02 15:30] #27 closed

[2016-08-02 15:38] lapineige commented on #23
Please everyone translation this page (or any MDN page): subscribe to it to be updated of the changes ;)

[2016-08-03 07:05] lapineige commented on #7
Ping @DoublePlusGood23 :)

[2016-08-05 21:00] Ryuno-Ki commented on #23
@lapineige Stupid question but may you explain how to subscribe to a MDN page? Only the version I translated or is it worthwhile to subscribe to English version as well?

What is the current state of French translation?

What about the missing ones (Spanish, Japanese, Hindi, Swedish)?

[2016-08-06 14:26] imyaman commented on #23
Korean version is updated.

[2016-08-08 18:33] kuramaluka commented on #23
If you want to be updated (particularly for translations) with the work we are all doing on MDN, just **Subscribe to the landing page and the all sub articles**:

![schermata del 2016-08-08 20-34-25](https://cloud.githubusercontent.com/assets/11256504/17491346/89859abe-5da7-11e6-853d-80f161ada3ab.png)

[2016-08-10 10:12] kuramaluka opened #30 "Italian translation log"
This, just to keep community and translators up to date with the work we're currently doing on MDN.

MDN is already huge in terms of pages and subarticles, so it's necessary to make a register as much as possible complete.

**Note**: remember to keep pages' english names.

Translated:
- [x] [Landing page](https://developer.mozilla.org/it/docs/Mozilla/B2G_OS);
- [x] [Build and install overview](htt

[2016-08-15 17:38] lapineige commented on #23
@Ryuno-Ki There's no stupid question ;)
Look at the screenshot shared above (thx @kuramaluka).
Yes subscribe to the English version, to know when to update translations.
(and also, if you make change, please add a title - it's faster to know what changed ;) )

I didn't have any time to work on the French version. _edit_: I just checked: someone did it, thanks :)

@imyaman  cool thx :)

[2016-08-18 19:19] lapineige commented on #30
Looks like it's finished. I close this task.
Thanks again for this work :)

[2016-08-18 21:09] kuramaluka commented on #30
Lapi, could you please reopen the task? :) If possible, I would like to use use it, tracking overall the translation process. Just imagine in "to do list" there are all the other untranslated pages :D

[2016-08-18 21:29] lapineige commented on #30
Yes sure :)

[2016-08-22 07:26] amitkumarj441 commented on #23
Hey @lapineige ,

Count me in for Hindi translation and can review too!
Please let me know how to start with translation and where!

Cheers,
Amit Kumar Jaiswal

[2016-08-22 07:31] lapineige commented on #23
You're welcome :)

Basically, go to this page: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS
Click on Languages (up right), select the one you wanna edit, log in -using github account) and edit the page (button up right).

[2016-08-23 02:14] marsf commented on #23
Japanese page is updated to the latest en-US revision. ;-)

[2016-08-28 18:55] lapineige commented on #23
Reminder: you can follow the status of the doc translation here: https://developer.mozilla.org/en-US/docs/MDN/Doc_status/B2G_OS
(on the localization part, you can click on your language to see it)

[2016-08-30 16:47] lapineige commented on #7
up :)

[2016-09-10 16:24] novski opened #31 "Architecture page linked on Main is still not ported."
We have to update this page:
https://developer.mozilla.org/en-US/docs/Archive/Firefox_OS/Platform/Architecture

[2016-09-10 17:04] lapineige commented on #12
The discussion about the meeting time is also located on discourse / meetings discussions - with no decision yet.
The main task is done, I close this issue.

[2016-09-10 17:04] #12 closed

[2016-09-10 17:06] lapineige commented on #31
I think @kskarthik is working on that topic, with this page on MDN: https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS/B2G_OS_Architecture

The content is still basic, feel free to help :)

[2016-09-10 17:10] novski commented on #31
Ok. True. I have seen that. The old page is much larger. Do we discuss the content of that page here or in discourse?

[2016-09-10 17:21] lapineige commented on #31
Discourse is more followed, with more technical people.
I'd say that the discussions on content should be done on discourse, and here we just keep track of what need to be done / is done.

[2016-09-11 05:21] kskarthik commented on #31
We could reuse some content from the old architecture page :)  I filed a bug & set a topic on discourse also https://discourse.mozilla-community.org/t/b2g-os-architecture-page/10787

[2016-09-11 07:26] lapineige commented on #31
Yes, after checking it's still relevant. (which I guess it will be for the gonk layer, for instance)

[2017-11-27 08:12] darkdragon-001 opened #32 "Update engine to latest improvements"
Pull in new changes for [gecko](https://github.com/mozilla-b2g/gecko-b2g).

[2017-11-27 08:16] darkdragon-001 opened #33 "Ease porting via Project Treble"
[Project Treble](https://source.android.com/devices/architecture/treble) introduces a separation of low-level drivers and high-level Android. Would be nice if B2G OS builds upon the same low-level manufacturer-specific driver base and can be independently updated on top of it!

[2017-12-03 00:11] lissyx commented on #32
Good luck.

[2017-12-03 23:43] imyaman commented on #32
:+1:

[2019-03-30 13:55] Mozilla-GitHub-Standards opened #34 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2021-11-03 14:02] #33 closed

[2021-11-03 14:02] #34 closed

[2021-11-03 14:02] #31 closed

[2021-11-03 14:02] #32 closed

[2021-11-03 14:02] #28 closed

[2021-11-03 14:02] #30 closed

[2021-11-03 14:02] #23 closed

[2021-11-03 14:02] #25 closed

[2021-11-03 14:02] #20 closed

[2021-11-03 14:02] #16 closed

[2021-11-03 14:02] #17 closed

[2021-11-03 14:02] #15 closed

[2021-11-03 14:02] #10 closed

[2021-11-03 14:02] #9 closed

[2021-11-03 14:02] #5 closed

[2021-11-03 14:02] #7 closed

[2021-11-03 14:02] #2 closed